

body{
  
  
  text-align: center;
}
 /* @keyframes spin{
   0%{
   
      
     rotate: 0deg;
   }
100%{
    rotate: 360deg;
}

}  */

.box{
   
   /* animation:spin 2s linear infinite;  */
  
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10%;
  margin: 1.5rem;
  
}
.first{
  display: flex;
  justify-content: center;
}
.second{
  display: flex;
  justify-content: center;
}
.green{
   background-color: #63aac0;
}
.yellow{background-color: #f99b45;}
.red{
     background-color: #d95980;
}
.blue{ 
  background-color: rgb(134, 71, 134);
}

.flash
{
  background-color: white;
  
} 
.userflash{
  background-color: rgb(46, 199, 46);
  border-color:white;
  
}
.end{
  background-color: red;
}