
body{

    font-family: "Montserrat", serif;
   margin: 0;
   background-color: black;
   color: white;
   overflow: hidden;
}
.main{
    display: flex;
   height: 100vh;
   padding: 0.5rem;
}
.sidebar{
   margin-right: 0.5rem;
    background-color: black;
    width: 340px;
    border-radius: 1rem; /* 1 rem =16px*/

}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.navoption{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.navoption:hover{
    opacity: 1;
}
.navoption i{
    font-size: 1.25rem;
}
.navoption a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    font-size: 1.25rem;
   margin-right:1rem;
   display: flex;
   
}
.icons i{
    opacity: 0.5;
    margin-right:1rem;
}
.icons i:hover{
    opacity: 1.4;
}
.liboption img{
    height: 1.25rem;
    width: 1.25rem;

}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1.25rem;
}
.boxp1{
    font-size:1rem;
    font-weight: 500;
    
}
.boxp2{
    
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding:0.25rem 1rem ;
    font-weight: 600;
    height: 2rem;
    margin-top: 0.5rem;
    width: fit-content;
}





















/** MAIN CONTENT CSS**/
.maincontent{
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.stickynav{
    position:sticky;
    top: 0;
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;

}
.stickyicons {
   height: 2rem;
   margin-left: 0.75rem;
}
.darkbadge{
    background-color: black;
    color: white;
}
.stickyoptions button{
    margin-right: 1rem;
}
.stickyoptions i{
    margin-right: 1rem;
}
.cardcontainer{
    display: flex;
    flex-wrap: nowrap;
    width: 190px;
}
.cardimg{
   width:100%;
   border-radius: 0.5rem;
   /*or width:150px; */
}
.card{
    background-color:#232323;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.cardtitle{
    font-weight: 600;
}
.cardinfo{
    font-size: 0.75rem;
    opacity: 0.5;
}

.cardss{
    display: flex;
}
.tred{
    display: flex;
    flex-wrap: wrap;
}

.footer{
   height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
   width: 90%;
   height: 30%;
   border-top: 1px solid white;
   opacity: 0.4;
}





.musicplayer{
    background-color: black;
  position: fixed;
    bottom:0;
    width: 100%; 
    height: 72px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.player{
width: 50%;

}
.playercontrols{
    display: flex; 
    justify-content: center;
    align-items: center;    
}
.playercontrolicon{
    height:1rem;
    margin-right: 1.75rem;
    opacity: 0.5;
}
.playercontrolicon:hover{
    opacity: 1;
}
.playbackbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progressbar::-webkit-slider-runnable-track{
   background-color:#ddd;
   border-radius: 100px ;
   height: 0.2rem;

}
.progressbar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:white;
    border-radius: 50%;
   margin-top: -6px;


}
.progressbar::-webkit-slider-runnable-track:hover{
    background-color: #1bd760;
    
    
}



.album{
    height: 100%;
    width: 25%;
    display: flex;
    
    
    }
    .album p{
        opacity: 1;
        color: white;
    }
.aimg{
        padding: 20px;
         height: 60px;
         width: 60px;
         border-radius: 25%;
         margin-top: -15px;
}    
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
     opacity: 0.5;

    width: 25%;
    height: 100%;
}
.icn{
    margin-left: 15px;
    font-size: 1rem;
}
.soundbar{
    width:20%;
}
.soundbar::-webkit-slider-runnable-track{
    background-color:#ffffff;
    border-radius: 100px;
    height: 0.2rem;  
}
.soundbar::-webkit-slider-thumb{
    background-color: #1bd760;
   margin-top: -6px;
}


a{
    text-decoration: none;
    color: white;
}


@media (max-width:1000px) {
    .hide{
        display: none;
    }
    
}

